body{
    background-color: rgb(245, 245, 245);
    margin: 0%;
}

hr{
    border: 1px solid rgb(245, 245, 245);
    margin: 0%;
}


/* HEADER */
header{
    background-color: white;
    margin: 0%;
    width: 100%;
}

#logo{
    width: 55px;
    padding: 15px 0px 15px 15px;
    vertical-align: middle;
}

#title{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}


    /* MAIN */

    .main-conteiner{
        width: 100%;
    }

    .conteiner{
        width: 70%;
        height: 30px;
        margin: auto;
    }

    main{
        background-color: white;
        margin-top: 50px;
        border-radius: 10px;
    }

        /* PULSANTI */

        .button{
            padding: 5px 9px 5px 9px;
            border-radius: 5px;
            margin-top: 16px;
            margin-bottom: 10px;
        }

        .buttontask{
            background-color: #48ADF1;
            color: white;
            border: 1px solid #48ADF1;
            margin-left: 50px;
        }

        .buttonsection{
            background-color: white;
            color: rgb(210, 210, 210);
            border: 1px solid rgb(210, 210, 210);
        }


            /* LISTA */

            ul {
                list-style-type: none;
                margin-top: 0px;
                padding-bottom: 25px;
            }

            li{
                padding-top: 8px;
                padding-bottom: 8px;
                font-family: 'Open Sans', sans-serif;
            }

            h2{
                margin-top: 30px;
                margin-bottom: 2px;
                font-family: 'Open Sans', sans-serif;
                color: #444851;
            }

            .li-title{
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .li-align{
                vertical-align: middle;
                padding-right: 3px;
            }
            
            .check{
                font-size: 13px;
                vertical-align: middle;
                color: rgb(1, 184, 1);
                border: 1px solid rgb(1, 184, 1);
                border-radius: 100%;
                padding: 0px 3px 0px 3px;
                margin: 0px 5px 0px 2px;
            }

            .cross{
                font-size: 13px;
                vertical-align: middle;
                color: red;
                border: 1px solid red;
                border-radius: 100%;
                padding: 0px 4px 0px 4px;
                margin: 0px 5px 0px 2px;
            }


                /* ETICHETTE */

                .etichetta{
                    display: inline-block;
                    font-size: 10px;
                    font-family: 'Open Sans', sans-serif;
                    border: 1px solid;
                    border-radius: 10px;
                    padding: 6px 10px;
                    color: white;
                }

                    .editorial{
                        background-color: #45ABEA;
                        border: #45ABEA;
                    }

                    .q1{
                        background-color: #9C72E4;
                        border: #9C72E4;
                    }

                    .recruiting{
                        background-color: #60BEA7;
                        border: #60BEA7;
                    }

                    .mobile{
                        background-color: #F29E33;
                        border: #F29E33;
                    }

                    .website{
                        background-color: #D763A1;
                        border: #D763A1;
                    }

                    .sales{
                        background-color: #B0C925;
                        border: #B0C925;
                    }